	div.gm{max-width:960px}
	div#gdt{max-width:960px}
	div#gdo{max-width:960px}
}

@media screen and (max-width:990px) {
	p.gpc{margin-top:25px;visibility:hidden !important}
	div.gm{max-width:720px}
	div#gdt{max-width:720px}
	div#gdo{max-width:720px}
	div#gd2{width:710px}
	div#gd4{width:340px}
	div#gmid{width:545px}
	div#tagmenu_act{width:320px}
	div#tagmenu_new{width:320px}
	input#newtagfield{width:265px}
	p#nb{max-width:690px;overflow:hidden}
	div#gdo2{top:-55px}
	div#gdo4{top:-55px}
	div#spa{width:335px}
	div#asm{max-width:720px;overflow:hidden;margin:auto}
	div.tod{max-width:720px}
}

/* image pages */
div.sni{background:#000;border:1px solid #5C0D12;text-align:center;margin:2px auto 6px;padding:0 5px 5px;min-width:720px;position:relative;z-index:1}
div.sni h1{font-size:12pt;font-weight:bold;text-align:center}
div.sni img{border:0;vertical-align:middle;margin:1px;clear:both}
div.smi{background:#000;border:1px solid #5C0D12;text-align:center;margin:auto;padding:0 5px;min-width:720px;position:relative;z-index:1}
div.smi img{border:0;vertical-align:middle;margin:1px;clear:both}
div.if{margin:-5px auto 5px}
div.sn{margin:1px auto;font-size:10pt;height:32px;z-index:1}
div.sn div{margin:2px 25px 0px;display:inline}
div.sn span{font-weight:bold}
div.sn img{width:30px;height:30px;padding:0px 2px}
div.sa{margin:1px auto;position:relative;font-size:10pt;width:500px;height:32px;z-index:1}
div.so{position:relative}
div.so div{position:absolute;top:0px}
div.so img{width:30px;height:30px}
div.sp{padding-top:7px;width:80px;text-align:center}
div.sp span{font-weight:bold}
div.sb{margin-top:-10px;position:relative;z-index:2}
div.sb img{border:0}
img.si{border:0;margin:1px;clear:both}

/* stats */
td.stdb{text-align:center;vertical-align:bottom;margin:0px auto 0px auto;padding:1px 7px 0px 7px}
td.stdk{font-size:8pt;text-align:center;margin:0px auto 0px auto;padding:1px 3px;border:1px solid #5C0D12;font-weight:bold}
td.stdv{font-size:8pt;text-align:center;margin:0px auto 0px auto;padding:1px 3px;border:1px solid #5C0D12}

/* index */
table.itc{margin:auto}
table.itc td{padding:1px 5px}
table.itc2{margin:auto;text-align:left;width:94%;margin-top:5px}
table.itss{margin:auto;text-align:left;margin-top:5px;width:94%}
table.itsf{margin:auto;text-align:left;margin-top:5px;width:400px}
table.itsr{margin:auto;text-align:left;margin-top:5px;width:260px}
td.ic4{width:25%; height:25px}
td.ic3{width:33%; height:25px}
td.ic2{width:50%; height:25px}
td.ic1{width:100%; height:25px}
select.imr{margin-left:13px}
select.ibf{margin-left:13px;width:170px;background-repeat:no-repeat;background-position:2px 2px}
option.ibfc{padding-left:30px;background-repeat:no-repeat;background-position:0px 0px}
div.iet{float:left;width:182px;height:127px}
iframe.iet{border:0px;margin:0px;overflow:hidden;padding-left:28px;width:125px;height:145px}
div.idi{margin:auto;width:598px;border-collapse:collapse;margin:0px auto 8px auto;padding:5px;border:2px ridge #5C0D12;text-align:center; background: rgba(92, 13, 18, 0.9); color: #fff;}
div#toppane{margin:auto;width:99%}
div#iw{color:#FF0000;margin:2px auto 5px auto;text-align:center}
